* {
  box-sizing: border-box;
}

html {
  /* sets default font size to 10px */
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

header {
  width: 30%;
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 12px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-clip: padding-box;
  z-index: 500;
}

.title-content-wrapper {
  max-height: 50vh; 
  overflow-y: auto;
}

@media (max-width: 640px) {
  .title-content-wrapper {
    max-height: 250px;
  }
}

header > h1 {
  margin: 0 0 1.2rem 0;
}

details > summary {
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

details p {
  font-size: 1.6rem;
}

details p:last-of-type {
  margin-bottom: 0;
}

/* marker cluster override */
.marker-cluster-small div {
  background-color: #ff8c1a !important;
  opacity: 0.6;
}

@media (max-width: 640px) {
  header {
    top: 0;
    left: 0;
    width: 70%;
    margin: 1rem;
  }

  header > h1 {
    font-size: 1.8rem;
  }

  details p {
    font-size: 1.4rem;
  }
}

a {
  text-decoration: none;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

/* custom classes */
.color-passed {
  color: #4dac26;
}

.color-yet-to-pass {
  color: #d01c8b;
}

.color-ocurring {
  color: #1772aa;
}

.color-may-be-ocurring {
  color: #ae5117;
}
/* popup styling */

/* override leaflet's <p> element styles */
.leaflet-popup-content > .popup-container p {
  margin: 0;
  padding: 0;
}

.popup-container {
  padding: 0;
  z-index: 7000;
}

.popup-container p.popup-title {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  background: white;
}

.popup-container p {
  padding-top: 1.2rem;
}

.popup-container > div {
  padding-bottom: 1.2rem;
}

.popup-container > div:last-of-type {
  padding-bottom: 0;
}

/* override leaflet popup styling */
.leaflet-popup-content-wrapper {
  background: transparent;
  box-shadow: none;
}

.leaflet-popup-tip-container {
  position: relative;
  top: 19px;
}

.leaflet-popup-close-button {
  display: none;
}


.legend-icon{
  background-color: red;
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 30px;
  position: relative;
  top: 1px;
  left: 0;
  margin-right: 0.3em;
}

.legend-icon-developments {
  top: none;
  left: none;
  background-color: #fec0aa;
}

.legend-icon-oralhistory{
  border-radius: 0;
  background-size: 10px;
  background-color: transparent;
  background-image: url('./assets/mapIcons/mic-fill.svg')
}

.legend-icon-boundary{
  background-color: #0d3b66;
}

.legend-icon-boundary.medium{
  background-color: #0c70ce;
}

.legend-icon-boundary.light{
  background-color: #7fb8ec;
}

.legend-icon-corridor{
  background-color: #ED5D31;
}

.legend-icon-boundary.zoning-boundary{
  background-color: #004373
}

.legend-icon-boundary.district-boundary{
  background-color: #89a7ba;
}

.legend-icon-boundary.neighborhood-boundary{
  background-color: #c5d3dc
}

.legend-icon-boundary.plan-boundary{
  background-color: #1a6fbf;
}

.legend-icon-boundary.merged-boundary{
  background-color: #7dafde
}

.popup-container {
  position: absolute;
  background: transparent;
  white-space: nowrap;
}


/* Hide map layers controls on mobile for now, as they get obscured */
@media (max-width: 640px) {
  #root.aemp-popupopen .leaflet-control-attribution {
    display: none;
  }

  .leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    display: none;
  }
}

/* InfoWindow Styling */
#aemp-infowindow-container {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.aemp-infowindow {
  padding: 5px 10px;
  border: 2px solid rgb(190, 188, 188);
  border-radius: 5px;
  font-size: 1.5rem;
  top: 35px;
  position: relative;
  margin: 10px 10px 0 0;
  max-height: 95%;
  overflow-y: auto;
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.1);
}

/* InfoWindow Styling */
#oral-history-infowindow-container {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.aemp-modal-container {
  padding: 5px 10px;
    border: 2px solid rgb(190, 188, 188);
    border-radius: 5px;
    font-size: 1.5rem;
    background: white;
    position: absolute;
    right: 0;
    width: 50%;
    margin: 10px 0 0 -25%;
    max-height: 95%;
    overflow-y: auto;
    background: white;
    box-shadow: 0 3px 14px rgb(0 0 0 / 10%);
    left: 50%;
    bottom: 15%;
    top: 15%;
    z-index: 10000;
}

/*.leaflet-popup-content .oral-history-infowindow {
  display: none;
}*/

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup.aemp-infowindow-container .leaflet-popup-tip-container {
  display: block;
}

@media (max-width: 640px) {
  #root.aemp-popupopen #map {
    height: 50%;
  }

  a.arrow-container {
    padding-top: 0.5rem;
  }

  .aemp-infowindow {
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 50%;
  }
}

.audio-controls{
  text-align: center;
}

.box label {
  border-radius: 4px;
  padding: 0.2em 0.6em;
  border: 1px solid #009ce2;
  background-color: #00acff;
  color: #fff;
  font-size: 0.8em;
}

.box input {
  opacity:0;
  position: absolute;
  pointer-events: none;
}

.box p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: scroll;
  margin: 0;
}

.box input:focus ~ label {
  outline: -webkit-focus-ring-color auto 5px;
}

.box input:checked + p {
  -webkit-line-clamp: unset;
}

.box input:checked ~ label,
p:not(.truncated) ~ label{
  display: none;
}